.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}


.profile__avatar {
  position: relative;
}

.profile__hover-icon {
  position: absolute;
  inset: 0;
  background-image: url('../../../images/edit-icon.svg'); /* your vector icon */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.profile__avatar:hover .profile__image {
  filter: brightness(30%);
}

.profile__avatar:hover .profile__hover-icon {
  opacity: 1;
}

